<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir bus</title>
</head>
<body>
    <h1>Añadir bus</h1>
    <form action="/bus" method="POST">
        <label for="linea">linea:</label>
        <input type="text" id="linea" name="linea" required><br><br>
        
        <label for="coche">coche:</label>
        <input type="text" id="coche" name="coche" required><br><br>
        
        <input type="submit" value="Añadir">
    </form>
</body>
</html>
